body{
  background: #f2f2f2;
  height: 100%;
  font-family: verdana;
  margin:0;
  padding:0;
}

h1 {
  color: black;
  font-family: 'Droid Sans', sans-serif;
  font-size: 220%;
  text-align: center;
  font-weight:900;
}

h2 {
  color: black;
  font-family: verdana;
  font-size: 150%;
  text-align: center;}

h3 {
  color: #808080;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
}
p {
  color: black;
  font-family: verdana;
  font-size: 80%;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

a {
  color:  #ff8c00;
}

a: visited{
  color:  #bfbfbf;
}

hr { 
  width: 50%;
  opacity: 0.3;
  border: 0; 
  height: 1px; 
  background-color: #4d4d4d;
}

label{
  font-family: verdana;
  font-size: 80%;
  text-align: center;
  margin: 8px;
  padding: 10px;
}

#label1 {
  margin: 10px;
  padding: 10px;
  font-size: 90%;
  display: inline-block;
}

.active {
  color: green;
}

.container {
  background-color:  rgba(255, 255, 255, 1);
  width: 100%;
  font-family: verdana;
  text-align: center;
  padding: 0px;
  box-shadow: 0 0 2px 0 #000000;
  display: block;
  margin: 0 auto;
}

#narrow {
  width: 60%;
  padding: 2px;
}

#progress-cont{
  position: relative;
  width: 70%;
  height: 15px;
  border-radius: 10px;
}

#fade-box {
  width: 75%;
  padding: 10px;
  border-radius: 0;
  box-shadow: 0 0 0 0 #000000;
  background-color: rgba(200,200,200,0.3);
}

#orange-bg {
  width: 15%;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}
.container2 {
  background-color:  #bfbfbf;
  width: 50%;
  height: auto;
  border-radius: 10px;
  font-family: verdana;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.container3 {
  width: 50%;
  border-radius: 10px;
  font-family: verdana;
  padding: 10px;
  display: block;
  margin: 10 auto;
}

.textbox {
  background-color: rgb(255, 255, 255);
  box-shadow:0 0 2px 0 black;
  width: 70%;
  font-family: verdana;
  font-size: 90%;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.textbox2{
  background-color: #bfbfbf;
  width:50%;
  font-family: verdana;
  font-size: 70%;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.textbox3{
  background-color: #ff8c00;
  width:95%;
  font-family:verdana;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
}

.textbox4{
  background-color: #ff8c00;
  width:auto;
  color: white;
  font-family:verdana;
  padding: 10px;
  margin: 15px;
  display:inline-block;
  border-radius: 10px;
}

.scrollbox{
  width: 85%;
  height: 200px;
  box-shadow:0 0 2px 0 black;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#list-el {
  font-size: 80%;
  color: #808080;
  padding: 25px;
  height:200px;
}

.homeProject{
  width: 180px;
  height: 180px;
  background-color: #009922;
  display: inline-block;
  margin: 10px;
}

.row {
  display: block;
  width: 100%;
  border-spacing: 10px;
  text-align: center;
}

.column {
  display: inline;
}

button{
    background-color: #8c8c8c;
    color: white;
    font-size:70%;
    text-decoration: none;
    padding: 10px 15px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    transition-duration: 0.7s;
}

.button1{
  background-color: #FFFFFF;
  display:inline-block;
  text-decoration: none;
  font-size: 70%;
  opacity:1;
  color: black;
  padding: 10px 15px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  box-shadow:0 0 2px 0 black;
  transition-duration: 0.7s;
}

.button2{
  background-color: #C0C0C0;
  text-decoration: none;
  color: white;
  font-size:70%;
  padding: 10px 15px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow:0 0 2px 0 black;
  width: auto;
  transition-duration: 0.7s;
}

.button3{
  background-color: #ff8c00;
  color: white;
  text-decoration: none;
  font-size: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  width: auto;
  box-shadow:0 0 2px 0 black;
  height: 50px;
  transition-duration: 0.7s;
}

.button4{
  background-color: #f44336;
  text-decoration: none;
  font-size: 70%;
  color: white;
  padding: 10px 15px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow:0 0 2px 0 black;
  width: auto;
  transition-duration: 0.7s;
}

button:hover {
  background-color: #4d4d4d;
}

.button1:hover {
  background-color: #ff8c00;
}

.button2:hover {
  background-color: #4d4d4d;
  color: white;
}

.button3:hover {
  background-color: #4d4d4d;
  color: white;
}

.button4:hover {
  background-color: #ff8c00;
  color: white;
}

.linkbutton{
  background-color: #737373;
  text-decoration: none;
  font-size:70%;
  color: white;
  padding: 10px 15px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.logo {
  padding: 10px;
}

.logo img{
  height:200px;
  display: block;
  margin: 0 auto;
}

img {
  text-align: left;
}

input[type=text], select {
    width: auto;
    padding: 10px 10px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=text2], select {
    width: 95%;
    padding: 10px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    margin: 10 auto;
}

input[type=password], select {
    width: auto;
    padding: 10px 10px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#pass {
  width: 95%;
  display: block;
  margin: 10 auto;
}

#crdt {
  width: 95%;
  display: block;
  margin: 10 auto;
}

::placeholder{
  font-size: 70%;
}

.log {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    transition-duration: 0.7s;
}

.cancelbtn:hover {
  background-color: #ff8c00;
  color: white;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.animate2{
  -webkit-animation: animatezoomout 0.6s;
  animation: animatezoomout 0.6s
}

@-webkit-keyframes animatezoomout{
  from {-webkit-transform: scale(1)}
  to {-webkit-transform: scale(0)}
}
@keyframes animatezoomout{
  from {transform: scale(1)}
  to {transform: scale(0)}
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#bgCanvas{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:-10;
}
#Values{
  
}

#abt{
  font-family: 'Droid Sans', sans-serif;
  font-size:20px;
}

.site-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin-top: 150px;
  height:50px;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  color: #bfbfbf;
  box-shadow: 0 0 2px 0 #000000;
}

.progress-bar {
  background-color: #ff8c00;
  border-radius: 10px;
  height: 85%;
  position: absolute;
  line-height:inherit;
}

#money{
  font-size:10vh;
  font-family:Verdana;
}